{% set page = {
    'name': 'about',
    'title': 'About',
}%}

{% extends 'includes/_base.twig' %}

{% block content %}
	<section>
        <article>
            <h1>
                {{- 'about' -}}
            </h1>
        </article>
    </section>
{% endblock content %}
