<header class="header">
    <div class="container-fluid">
        <div class="header__inner  row  middle-xs">
            <div class="col-xs-12  col-sm-offset-1  col-sm-10  col-md-10  col-lg-offset-2  col-lg-8">
                <div class="header__content">
                    <h1 class="header__title">
                        {{- 'Hello I’m <strong>Vivien Kaufinger</strong>,<br>a front-end developer based&nbsp;in&nbsp;Paris' -}}.
                    </h1>
                    <div class="header__description">
                        <p>
                            {{- 'For several years, I have been trying to build the best user interfaces focusing on fluidity, clean markup and performances.' -}}
                        </p>
                        <p>
                            {{- 'I have had the opportunity to work for brands such as Airbus, Arte, BMW, Krug, L\'Occitane, Orange and more…' -}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'icon-links.twig' %}
    </div>
</header>
