<ul class="icon-links  row  center-xs">
    {% for link in data.iconLinks %}
        <li class="icon-links__item  col-sm-1  col-md">
            <a class="icon-links__link" href="{{ link.url }}" target="_blank" rel="noopener">
                <span class="icon-links__icon  icon-links__icon--{{ link.title }}">
                	{{- link.title|capitalize -}}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
