// List (experience + skills)
.title {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: colors(text);
    font-size: 2rem;
    font-weight: 700;
}

.list-section {
    @include mq($until: sm) {
        margin-top: 10vh;
    }
    @include mq($from: sm, $until: lg) {
        margin-top: 20vh;
    }
    @include mq($from: lg) {
        margin-top: 25vh;
    }
}

.list {
    @include mq($until: sm) {
        margin-top: 5px;
    }
    @include mq($from: sm) {
        margin-top: 10px;
    }
    @include mq($from: lg) {
        a {
            position: relative;
            display: block;
            margin: -15px 0 -15px -15px;
            padding: 15px;
            transition: color 250ms cubic-bezier($easing);
            &::before {
                position: absolute;
                z-index: -1;
                pointer-events: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #fff;
                transition: opacity 250ms cubic-bezier($easing);
                content: "";
            }
            &:hover {
                color: colors(title);
                &::before {
                    opacity: 0;
                }
            }
        }
    }
    span {
        display: table;
    }
}

.list__item {
    position: relative;
    color: colors(text);
    @include mq($until: sm) {
        font-size: 1.6rem;
    }
    @include mq($from: sm, $until: md) {
        font-size: 2.5rem;
    }
    @include mq($from: md) {
        font-size: 3rem;
    }
    sup {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.1rem;
    }
}
