// List (experience + skills)
.title {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: colors(text);
    font-size: 2rem;
    font-weight: 700;
}

.list-section {
    @include mq($until: sm) {
        margin-top: 15vh;
    }
    @include mq($from: sm, $until: lg) {
        margin-top: 20vh;
    }
    @include mq($from: lg) {
        margin-top: 25vh;
    }
}

.list {
    @include mq($until: sm) {
        margin-top: 5px;
        .skills & {
            display: block; // Disable flexbox
            margin: 5px 0 0;
            column-count: 2;
        }
    }
    @include mq($from: sm) {
        margin-top: 10px;
    }
}

.list__item {
    color: colors(text);
    @include mq($until: sm) {
        font-size: 1.6rem;
    }
    @include mq($from: sm, $until: md) {
        font-size: 2.5rem;
    }
    @include mq($from: md) {
        font-size: 3rem;
    }
}

.list__link {
    display: block;
    transition: color 250ms cubic-bezier($easing);
    @include mq($from: lg) {
        position: relative;
    }
    &:hover {
        @include mq($until: lg) {
            color: colors(tomatoe);
        }
        @include mq($from: lg) {
            color: colors(title);
        }
    }
    sup {
        margin-left: 5px;
        @include mq($until: sm) {
            font-size: .9rem;
        }
        @include mq($from: sm) {
            font-size: 1.1rem;
        }
    }
}

.list__icon {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 50%;
    mix-blend-mode: multiply;
    transform: scale(0.5);
    opacity: 0;
    &--1 {
        left: 50%;
        width: 70px;
        height: 60px;
        margin-top: -30px;
        margin-left: -55px;
        fill: rgba(#eaeaea, .9);
    }
    &--2 {
        right: 50%;
        width: 50px;
        height: 50px;
        margin-top: -40px;
        margin-right: -65px;
        fill: rgba(#a172f3, .9);
    }
}
