<section class="contact  js-section" data-speed="0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12  col-sm-offset-1  col-sm-10  col-md-10  col-lg-offset-2  col-lg-8">
                <h2 class="title  js-item">
                    {{- 'Contact' -}}
                </h2>
                <div class="contact__content">
                    <p class="js-item">
                        {{- 'I work as a freelancer and I’m <strong>currently available</strong> for any collaboration.<br>Feel free to contact me !' -}}
                    </p>
                    <p class="js-item">
                        <a class="contact__link  middle-xs" href="{{ data.contactLink }}" target="_blank" rel="noopener">
                            <span class="contact__link-icon"></span>
                            <span class="contact__wording">
                                {{- 'Drop me an email ' -}}
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
