<section class="skills  list-section  js-section" data-speed="0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12  col-sm-offset-1  col-sm-10  col-md-10  col-lg-offset-2  col-lg-8">
                <h2 class="title  js-item">
                    {{- 'Skills' -}}
                </h2>
                <ul class="list  row">
                    {% for skill in data.skills %}
                        <li class="col-xs  list__item">
                            <span class="js-item">{{- skill -}}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
