.footer {
    @include mq($from: md) {
        position: absolute;
        z-index: 1;
        right: 0;
        width: 80px;
    }
    @include mq($from: md, $until: lg) {
        top: 70px;
    }
    @include mq($from: lg) {
        top: 195px;
    }
}

.footer__links-item {
    &:not(:first-child) {
        @include mq($from: sm, $until: md) {
            margin-left: 10px;
        }
        @include mq($from: md) {
            margin-top: 10px;
        }
    }
}
.footer__links-link {
    display: inline-block;
    vertical-align: top;
    @include mq($until: sm) {
        padding: 10px 10px 20px;
    }
    @include mq($from: sm) {
        padding: 10px;
    }
}

.footer__links-icon {
    display: block;
    @include mq($until: sm) {
        width: 25px;
        height: 25px;
    }
    @include mq($from: sm, $until: md) {
        width: 30px;
        height: 30px;
    }
    @include mq($until: md) {
        fill: colors(text);
    }
    @include mq($from: md) {
        width: 20px;
        height: 20px;
        fill: #fff;
        transition: fill 500ms ease;
        .is-dark & {
            fill: colors(text);
        }
    }
}
