.footer {
    .icon-links {
        @include mq($until: md) {
            margin-bottom: 20px;
        }
        @include mq($from: md) {
            bottom: 70px;
        }
    }
    .icon-links__icon {
        &--twitter {
            background-image: svg-load('../images/svg-icons/twitter.svg', fill=colors(text));
        }

        &--linkedin {
            background-image: svg-load('../images/svg-icons/linkedin.svg', fill=colors(text));
        }

        &--github {
            background-image: svg-load('../images/svg-icons/github.svg', fill=colors(text));
        }
    }
}
