.header {
    position: relative;
    z-index: 1;
    color: #fff;
    line-height: 1.25;
}

.header__inner {
    @include mq($from: xs, $and: '(orientation: portrait)') {
        height: 75vh;
    }
    @include mq($from: xs, $and: '(orientation: landscape)') {
        height: 100vh;
    }
}

.header__content {
    position: relative;
    z-index: 1;
}

.header__title {
    font-weight: 700;
    @include mq($until: sm) {
        font-size: 2.5rem;
    }
    @include mq($from: sm, $until: md) {
        font-size: 3rem;
    }
    @include mq($from: md, $until: lg) {
        font-size: 4rem;
    }
    @include mq($from: lg) {
        font-size: 5rem;
    }
}

.header__description {
    margin-top: 20px;
    @include mq($until: sm) {
        font-size: 1.7rem;
    }
    @include mq($from: sm, $until: lg) {
        font-size: 2rem;
    }
    @include mq($from: lg) {
        font-size: 3rem;
    }
    p {
        &:last-child {
            margin-top: 20px;
        }
    }
}
