.vs-section {
    text-align: left;
}

.vs-scrollbar {
    &.vs-vertical {
        right: 0;
        width: 4px;
        transform: none;
    }
    .vs-scrolldrag {
        background-color: colors(title);
    }
}
