html,
body {
    // Fix viewport height on ios : remove tabs bar on landscape
    @include mq($from: xs, $until: sm, $and: '(orientation: landscape)') {
        height: calc(100% + 1em);
    }
}

.vs-section {
    text-align: left;
}

.vs-scrollbar {
    &.vs-vertical {
        right: 0;
        width: 4px;
        transform: none;
    }
    .vs-scrolldrag {
        background-color: colors(title);
    }
}

.container-fluid {
    max-width: 1600px;
}
