html {
    font: 400 62.5%/1.5 system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
    color: colors(text);
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// If you forgot the 'alt' attribute
img[alt=""],
img:not([alt]) {
    border: 5px dashed red;
}
