// Inline block management
@mixin ib-wrapper($v-align: middle) {
    font-size: 0;
    & > * {
        display: inline-block;
        vertical-align: $v-align;
    }
}

// Media queries management
@mixin respond($feature: width, $min: null, $max: null, $orientation: null) {
    @if ($min != null and $max != null) {
        @if ($orientation != null) {
            @media screen and (min-#{$feature}: $min) and (max-#{$feature}: $max - 0.01) and (orientation: $orientation) {
                @content;
            }
        } @else {
            @media screen and (min-#{$feature}: $min) and (max-#{$feature}: $max - 0.01) {
                @content;
            }
        }
    } @else if ($max != null) {
        @if ($orientation != null) {
            @media screen and (max-#{$feature}: $max - 0.01) and (orientation: $orientation) {
                @content;
            }
        } @else {
            @media screen and (max-#{$feature}: $max - 0.01) {
                @content;
            }
        }
    } @else {
        @if ($orientation != null) {
            @media screen and (min-#{$feature}: $min) and (orientation: $orientation) {
                @content;
            }
        } @else {
            @media screen and (min-#{$feature}: $min) {
                @content;
            }
        }
    }
}
