$colors: (
    title: #1e1634,
    text: #3f555e,
);

@function colors($name) {
	@return map-get($colors, $name);
}

// Responsive settings -> https://github.com/sass-mq/sass-mq
$mq-breakpoints: (
    mobile:  500px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px,
);

$mq-show-breakpoints: (mobile, tablet, desktop, wide);

$fonts: (
	league: #{"League Spartan", "Helvetica", "Arial", sans-serif},
);

@function fonts($name) {
	@return map-get($fonts, $name);
}

