$colors: (
    title:  #1e1634,
    text:   #3f555e,
    tomato: #fc6964,
    grape:  #a172f3
);

@function colors($name) {
	@return map-get($colors, $name);
}

// Responsive settings -> https://github.com/sass-mq/sass-mq
$mq-breakpoints: (
    xs: 320px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

$mq-media-type: only screen;

// $mq-show-breakpoints: (xs, sm, md, lg);

$easing: .65,.05,.36,1;
